# Archivos y directorios generados durante el desarrollo
node_modules
build
dist

# Archivos temporales y de respaldo
*.swp
*~
.DS_Store

# Otros archivos y directorios que deseas excluir
# archivo_de_ejemplo.txt
# directorio_de_pruebas/