[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "5.2"
django-cors-headers = "*"
pyjwt = "*"
orjson = "*"
pydantic = "*"
djangorestframework = "*"
drf-spectacular = "*"

[dev-packages]
ruff = "*"
python-lsp-server = "*"

[requires]
python_version = "*"
